.form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.inp_field{
    /* border: 3px solid; */
    width: 400px;
     
    height: 45px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .inp_field {
      width: 250px; /* Adjust input height on smaller screens */
    }
}